<div class="card h-100" style="width: 18rem;">
    <img src="/gifs/{{image}}" class="card-img-top object-cover" alt="" />
    <div class="card-body">
        <h5 class="card-title">{{name}}</h5>
        <p class="card-text">{{content}}
        </p>
        <p>{{format_date time}}</p>
        <p>${{cost}}</p>  
        <a href="#" class="btn mc-btn-secondary">Reserve Seats</a> 
    </div>
</div>