<div class="card h-100" style="width: 18rem;">
    <img src="/Images/{{image}}" class="card-img-top object-cover" alt="" />
    <div class="card-body">
        <h5 class="card-title">{{name}}</h5>
        <p class="card-text">{{description}}
        </p>
        <a href="/venue/{{id}}" class="btn mc-btn-primary">{{name}}</a>
    </div>
</div>